================================================================================
CONSTRAINTS VALIDATION REPORT
Generated: 2025-12-26T05:20:35.562Z
================================================================================

PRIMARY KEYS:
  Valid: 4
  Invalid: 0


FOREIGN KEYS:
  Valid: 51
  Invalid: 7

  ❌ tblAssetTypes.parent_asset_type_id -> tblAssetTypes.asset_type_id: 1 orphaned values found (sample: AT002, AT001)
  ❌ tblAuditLogs.user_id -> tblUsers.user_id: 1 orphaned values found (sample: USR026)
  ❌ tblDepreciationSettings.org_id -> tblOrgs.org_id: 1 orphaned values found (sample: ORG002)
  ❌ tblJobRoleNav.app_id -> tblApps.app_id: 12 orphaned values found (sample: ASSETLIFECYCLEREPORT, ASSETREPORT, ASSETVALUATION, ASSETWORKFLOWHISTORY, BREAKDOWNHISTORY, MAINTENANCEHISTORY, MAINTENANCE SUPERVISER, REPORTBREAKDOWN2, ROLES, SERIALNUMBERPRINT)
  ❌ tblTechnicalLogConfig.app_id -> tblApps.app_id: 9 orphaned values found (sample: ASSETLIFECYCLEREPORT, ASSETREPORT, ASSETVALUATION, ASSETWORKFLOWHISTORY, BREAKDOWNHISTORY, INSPECTION, MAINTENANCECRON, MAINTENANCEHISTORY, SERIALNUMBERPRINT)
  ❌ tblUserJobRoles.user_id -> tblUsers.user_id: 5 orphaned values found (sample: user2, user1, manager, supervisor, admin)
  ❌ tblUsers.job_role_id -> tblJobRoles.job_role_id: 2 orphaned values found (sample: admin/DPT202, admin/DPT303)
